extends ../../layout/app_layout
block styles
  link(href='/styles/postPY.css', rel='stylesheet')
block body
  .container.main-container(ng-controller='postCtl')
    .row
      .col-md-8.col-md-offset-2.postTitle
        h2 宝宝中心

block js
  script(src="/angular-bootstrap/ui-bootstrap.min.js")
  script(src="/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(src="/js/postPY.js")