extends ../layout/app_layout
block styles
  link(href='/styles/postPY.css', rel='stylesheet')
block body
  .container.main-container
    | postPage
block js
  script(src="/angular-bootstrap/ui-bootstrap.min.js")
  script(src="/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(src="/js/postPY.js")