.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true' ng-click='close()') ×
  h4.modal-title 阿迪拼邮
.modal-body
  .row
    .col-md-8
      .form-horizontal
        .form-group
          .col-sm-3.control-label.text-left
            | 价格 :
          .col-sm-6
            .form-control-static
              | {{detail.price}}
        .form-group
          .col-sm-3.control-label.text-left
            | 大约到达时间 :
          .col-sm-6
            .form-control-static
              | {{detail.arrive_date}}天
        .form-group
          .col-sm-3.control-label.text-left
            | 商品链接 :
          .col-sm-6
            .form-control-static
              a(ng-href='detail.good_link') 链接(点我)
        .attrContent(ng-class="{'error':attrSelectError}")
          .form-group(ng-repeat="attr in detail.good_attr" )
            info-attr(value='attr',check-value='attr.checkValue' ,attr-map='attrMap')
          .attrError.hidePage(ng-class="{error:attrSelectError}")
            span.text 请勾选您要的商品信息!
            button.close.bt(type='button',ng-click='cleanAttrSelectError()') ×
        .form-group
          .col-sm-3.control-label.text-left
            | 数量 :
          .col-sm-3
            input.form-control(type='number' ng-model='applyNum')
        .form-group
          .col-sm-3.control-label.text-left
            | 状态 :
          .col-sm-6
            .form-control-static
              span() 3 / 10
        .form-group
          .col-sm-6.col-sm-offset-3
            button.btn.btn-primary(ng-click="applyPY()" ng-disabled='applyNum==0') 申请拼邮

    .col-md-4
      .posterInfo
        .form-horizontal
          .form-group
            .col-sm-4.control-label.text-left
              | 发布人 :
            .col-sm-6
              .form-control-static
                a(href='') {{detail.username}}
          .form-group
            .col-sm-4.control-label.text-left
              | 信誉度 :
            .col-sm-6
              .rate.form-control-static
                uib-rating(ng-model='rate' read-only='true')
          .form-group
            .col-sm-4.control-label.text-left
              | 联系方式 :
            .col-sm-6
              .form-control-static
                | {{detail.email}}

.modal-foot
  uib-tabset
    uib-tab(index='0', heading='商品详情')
      .detail-area
        .detail-area-title
          .row
            .col-sm-6
              span 商品品牌: {{detail.good_brand}}
            .col-sm-6
              span 商品来源: {{detail.good_from}}
        .detail-area-desc
          P
            | {{detail.good_desc}}

        .detail-area-img
          img(ng-repeat="img in detail.good_imgs" ng-src='/userImg/{{img}}')

    uib-tab(index='1', heading='评论')
      .comment-area
        ol.comment-list.clearfix
          li
            .media
              .media-left
                img(ng-src='/avatar/defaultAvatar.png', height='60', width='60')
              .media-body
                .comment-content
                  p
                    | That support is great, but I ran into trouble wanting to alter/change the default order. Is it possible to put the textarea first. Been searching around and didn’t find any answers. Thanks
                .comment-footer.row
                  .rate.col-sm-6
                    uib-rating(ng-model='rate' read-only='true')
                  .date.col-sm-6
                    | 2016-03-10
          li
            .media
              .media-left
                img(ng-src='/avatar/defaultAvatar.png', height='60', width='60')
              .media-body
                .comment-content
                  p
                    | This is the code I was looking all day. You save me. The new wordpress theme i’m doing with bootstrap 3 needs this code to make comments part compatible with bootstrap
                .comment-footer.row
                  .rate.col-sm-6
                    uib-rating(ng-model='rate' read-only='true')
                  .date.col-sm-6
                    | 2016-03-10
        .comment-respond
          h3 评论一下
          form.comment-form(name="commentForm")
            .form-group
              uib-rating(name='commentRate' ng-model='rate', on-hover='commentRateHover(value);overStar = true', on-leave="overStar = null")
              span.label.label-success(ng-show='overStar' ng-bind="rateInfo")
              p
              textarea.form-control(name='commentText', ng-model='comment.commentText' cols='45', rows='8', required)
            button.btn.btn-primary(type='submit',ng-disabled="!(rate && commentForm.$valid)") 发布评论
