.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h4.modal-title Modal title
.modal-body
  | Modal body content
.modal-footer
  | Modal Footer Content
  button.btn.btn-default(type='button', data-dismiss='modal') Close
  button.btn.btn-primary(type='button') Save changes