.dialogLoginBody(ng-controller='dialogLoginCtl' ng-cloak layout="column" layout-align="center center")
  form.loginForm(name='loginForm' layout="row")
    .login-content(layout="column" flex='90')
      .login-input-row(layout="row")
        md-icon(md-svg-src="/imgs/icons/ic_username.svg" class="s24" aria-label="username" flex='10')
        md-input-container.md-block(flex='90')
          label 用户名:
          input(ng-model='loginPost.username',name='username' required='')
      .login-input-row(layout="row")
        md-icon(md-svg-src="/imgs/icons/ic_password.svg" class="s24" aria-label="password" flex='10')
        md-input-container.md-block(flex='90')
          label 密码:
          input(ng-model='loginPost.password', name='password' type='password', required='')
      md-button.md-raised.md-primary(ng-disabled="!(loginForm.$dirty && loginForm.$valid)" ng-click='login()') 登录