/*
  home info detail
*/

.homeInfoDetail > .modal-dialog{

  width: 80%;
  height: auto;
  margin-top: 50px;

}
.detail-footer {
  margin-top: 30px;
}
.detail-attr {
  padding: 10px 0px;
}

.detail-attr > .key {
  text-align: right;
  padding-right: 20px;
}

.detail-attr > .value {
  padding-left: 20px;
  text-align: left;
}
.homeInfoDetail .modal-foot {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}

.ng-goods-param {
  padding-left: 0px !important;
}

.goods-param-li {
  list-style: none;
  float: left;
  position: relative;
  margin: 0 5px 0px 0;
  vertical-align: middle;
  line-height: 20px;
  background: #FFF;
  border: 1px solid #ddd;
  color: #337ab7;
  padding: 6px 12px;
}

.posterInfo {
  padding: 10px;
  /*border: 1px solid #e5e5e5;*/
}

/*
  comment
*/
.comment-area {
  padding-top: 30px;
}
.comment-footer {
  margin-top: 20px;
}
.comment-footer > .rate{
  text-align: left;
  width: 50%;
}
.comment-footer > .date{
  text-align: right;
  width: 50%;
}
ol.comment-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

ol.comment-list li {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-left: 90px;
}

/*
detail area
*/

.detail-area {
  margin-top: 20px;
  /*padding-bottom: 40px;*/
}

.detail-area-desc {
  padding-top: 20px;
}

.detail-area-img {
  text-align: center;
}
.detail-area-img img {
  width: 100%;
}
.goodAttrActive {
  background: #26C6DA;
}
md-toast {
  position: fixed !important;
}
.dialogLoginBody{
  height: 260px;
  width: 300px;
}