doctype html
html
  head
    title 拼邮

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="icon" href="/imgs/py.ico" type="image/x-icon")
    link(href='/angular-material/angular-material.css' ,rel='stylesheet')
    block styles

  body
    block body

    .footer
      .footer-main
        p Copyright © 2016 PINYOU

    script(src="/angular/angular.min.js")
    script(src="/underscore/underscore-min.js")
    script(src="/angular-aria/angular-aria.js")
    script(src="/angular-animate/angular-animate.js")
    script(src="/angular-material/angular-material.js")
    script(src="/angular-md5/angular-md5.min.js")
    block js
